@page "/recurso/incluir"
@inject IJSRuntime JS;
@inject ICpnucleoApiClient cpnucleoApiClient;
@inject NavigationManager navigationManager;

<PageTitle>CPN - Inclusão de Recurso</PageTitle>

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Inclusão de Recurso</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            <EditForm class="form-horizontal" Model="@model" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <label class="col-sm-2 control-label"><DisplayName For="@(() => model.Nome)" /></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" @bind="model.Nome" placeholder="Nome" />
                        <ValidationMessage For="@(() => model.Nome)" />
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><DisplayName For="@(() => model.Login)" /></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" @bind="model.Login" placeholder="Login" />
                        <ValidationMessage For="@(() => model.Login)" />
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><DisplayName For="@(() => model.Senha)" /></label>
                    <div id="senha-container" class="col-sm-10">
                        <input id="senha" type="password" class="form-control" @bind="model.Senha" placeholder="Senha" />
                        <ValidationMessage For="@(() => model.Senha)" />
                        <div class="senha-progress" style="margin-bottom: 0px;"></div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"><DisplayName For="@(() => model.ConfirmarSenha)" /></label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" @bind="model.ConfirmarSenha" placeholder="Confirmação de Senha" />
                        <ValidationMessage For="@(() => model.ConfirmarSenha)" />
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-white" role="button" href="/recurso/listar">Voltar</a>
                        <button class="btn btn-primary" type="submit">Incluir</button>
                    </div>
                </div>

            </EditForm>
        </div>
    </div>
</div>

@code {
    private RecursoDTO model = new RecursoDTO();

    protected override async Task OnInitializedAsync()
    {
        await JS.InvokeVoidAsync("passwordStrenght");
    }

    private async Task HandleValidSubmit()
    {
        await cpnucleoApiClient.PostAsync<RecursoDTO>("recurso", "", model);

        navigationManager.NavigateTo("/recurso/listar");
    }
}