@page "/recurso/listar"
@inject IJSRuntime JS;
@inject ICpnucleoApiClient cpnucleoApiClient;

<PageTitle>CPN - Relação de Recursos</PageTitle>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Relação de Recursos</h5>
                <div class="ibox-tools">
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-primary btn-sm" role="button" href="/recurso/incluir">+ Recurso</a>
                <br /><br />

                @if (recursos == null)
                {
                    <p><em>Carregando...</em></p>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-datatable">
                            <thead>
                                <tr>
                                    <th><DisplayName For="@(() => recurso.Id)" /></th>
                                    <th><DisplayName For="@(() => recurso.Nome)" /></th>
                                    <th><DisplayName For="@(() => recurso.DataInclusao)" /></th>
                                    @if (recursos.Count() > 0)
                                    {
                                        <th class="no-sort"></th>
                                        <th class="no-sort"></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in recursos)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Nome</td>
                                        <td>@item.DataInclusao.ToString("dd/MM/yyyy")</td>
                                        @if (recursos.Count() > 0)
                                        {
                                            <td style="text-align: center">
                                                <a class="btn btn-outline btn-warning btn-xs" role="button" href="/recurso/alterar/@item.Id">Alterar</a>
                                            </td>
                                            <td style="text-align: center">
                                                <a class="btn btn-outline btn-danger btn-xs" role="button" href="/recurso/remover/@item.Id">Remover</a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><DisplayName For="@(() => recurso.Id)" /></th>
                                    <th><DisplayName For="@(() => recurso.Nome)" /></th>
                                    <th><DisplayName For="@(() => recurso.DataInclusao)" /></th>
                                    @if (recursos.Count() > 0)
                                    {
                                        <th></th>
                                        <th></th>
                                    }
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private RecursoDto recurso;
    private IEnumerable<RecursoDto> recursos;

    protected override async Task OnInitializedAsync()
    {
        recursos = await cpnucleoApiClient.GetAsync<IEnumerable<RecursoDto>>("recurso", "");

        await JS.InvokeVoidAsync("dataTables", "Relação de Recursos");
    }
}