@page "{id:Guid}"

@model Workflow.RemoverModel
@{
    ViewData["Title"] = "Remoção de Workflow";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-filled">
            <div class="panel-heading">@ViewData["Title"]</div>
            <div class="panel-body">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="Workflow.Id"></label>
                        <input type="hidden" asp-for="Workflow.Id">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Workflow.Id)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Workflow.Nome"></label>
                        <input type="hidden" asp-for="Workflow.Nome">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Workflow.Nome)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Workflow.Ordem"></label>
                        <input type="hidden" asp-for="Workflow.Ordem">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Workflow.Ordem)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Workflow.DataInclusao"></label>
                        <input type="hidden" asp-for="Workflow.DataInclusao">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Workflow.DataInclusao)</p>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-default" role="button" asp-page="Listar">Voltar</a>
                        <button class="btn btn-accent" type="submit">Remover</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>