@page "/recursoProjeto/incluir/{idProjeto:guid}"
@inject ICpnucleoApiClient cpnucleoApiClient;
@inject NavigationManager navigationManager;

<PageTitle>CPN - Inclusão de Recurso (Projeto)</PageTitle>

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Inclusão de Recurso (Projeto)</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            <EditForm class="form-horizontal" Model="@model" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />

                @if (recursos == null)
                {
                    <p><em>Carregando...</em></p>
                }
                else
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.IdProjeto)" /></label>
                        <div class="col-sm-10">
                            <input type="hidden" @bind="model.IdProjeto" />
                            <p class="form-control-static">@projeto.Nome</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.IdRecurso)" /></label>
                        <div class="col-sm-10">
                            <select class="form-control m-b" @bind="model.IdRecurso">
                                @foreach (var item in recursos)
                                {
                                    <option value="@item.Id">@item.Nome</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => model.IdRecurso)" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a class="btn btn-white" role="button" href="/recursoProjeto/listar/@IdProjeto">Voltar</a>
                            <button class="btn btn-primary" type="submit">Incluir</button>
                        </div>
                    </div>
                }

            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid IdProjeto { get; set; }

    private RecursoProjetoDTO model = new RecursoProjetoDTO();
    private ProjetoDTO projeto;
    private IEnumerable<RecursoDTO> recursos;

    protected override async Task OnInitializedAsync()
    {
        projeto = await cpnucleoApiClient.GetAsync<ProjetoDTO>("projeto", "", IdProjeto);
        recursos = await cpnucleoApiClient.GetAsync<IEnumerable<RecursoDTO>>("recurso", "");

        model.IdProjeto = IdProjeto;
        model.IdRecurso = recursos.FirstOrDefault().Id;
    }

    private async Task HandleValidSubmit()
    {
        await cpnucleoApiClient.PostAsync<RecursoProjetoDTO>("recursoProjeto", "", model);

        navigationManager.NavigateTo($"/recursoProjeto/listar/{IdProjeto}");
    }
}