@model Cpnucleo.Infra.CrossCutting.Util.ViewModels.RecursoTarefaViewModel

<li class="@Model.Tarefa.TipoTarefa.Element">
    @Model.Tarefa.Nome
    <div class="agile-detail">
        <i class="fa fa-clock-o"></i> @Model.Tarefa.DataTermino.Value.ToString("dd/MM/yyyy")
        <div class="m-xxs m-l-none"><i class="fa fa-user"></i> #@Model.Tarefa.Id criada por @Model.Tarefa.Recurso.Nome</div>
        @if (Model.HorasDisponiveis >= 0)
        {
            <text>
                <i class="fa fa-smile-o"></i> <font color="1ab394"> @Model.HorasDisponiveis horas restantes</font>
            </text>
        }
        else
        {
            <text>
                <i class="fa fa-frown-o"></i><font color="ed5565"> @Model.HorasDisponiveis.ToString().Replace("-", "") horas excedidas</font>
            </text>
        }
        <a href="#" class="pull-right btn btn-xs btn-white"> @Model.Tarefa.Workflow.Nome</a>
    </div>
</li>