@inject IOptions<ApplicationConfigurations> OptionsApplicationConfiguration

<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144007742-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-144007742-2');
    </script>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900' rel='stylesheet' type='text/css'>

    <!-- Page title -->
    <title>@OptionsApplicationConfiguration.Value.NomeSistema - @ViewData["Title"]</title>

    <!-- Vendor styles -->
    <link rel="stylesheet" href="~/vendor/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="~/vendor/animate.css/animate.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />

    <!-- App styles -->
    <link rel="stylesheet" href="~/styles/pe-icons/pe-icon-7-stroke.css" />
    <link rel="stylesheet" href="~/styles/pe-icons/helper.css" />
    <link rel="stylesheet" href="~/styles/stroke-icons/style.css" />
    <link rel="stylesheet" href="~/styles/style.css">
    @RenderSection("styles", required: false)
</head>
<body>

    <!-- Wrapper-->
    <div class="wrapper">

        <!-- Header-->
        <nav class="navbar navbar-expand-md navbar-default fixed-top">
            <div class="navbar-header">
                <div id="mobile-menu">
                    <div class="left-nav-toggle">
                        <a href="#">
                            <i class="stroke-hamburgermenu"></i>
                        </a>
                    </div>
                </div>
                <a class="navbar-brand" href="#">
                    CPN
                    <span>v.1.0</span>
                </a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <div class="left-nav-toggle">
                    <a href="">
                        <i class="stroke-hamburgermenu"></i>
                    </a>
                </div>
            </div>
        </nav>
        <!-- End header-->
        <!-- Navigation-->
        <aside class="navigation">
            <nav>
                <ul class="nav luna-nav">
                    <li class="nav-category">
                        Main
                    </li>

                    <li>
                        <a asp-page="/Apontamento/Listar">Apontamentos</a>
                    </li>

                    <li>
                        <a asp-page="/FluxoTrabalho">Fluxo de Trabalho</a>
                    </li>

                    <li class="nav-category">
                        Administração
                    </li>

                    <li>
                        <a href="#manage" data-toggle="collapse" aria-expanded="false">
                            Gerenciar<span class="sub-nav-icon"> <i class="stroke-arrow"></i> </span>
                        </a>
                        <ul id="manage" class="nav nav-second collapse">
                            <li><a asp-page="/Sistema/Listar">Sistemas</a></li>
                            <li><a asp-page="/Impedimento/Listar">Impedimentos</a></li>
                            <li><a asp-page="/Recurso/Listar">Recursos</a></li>
                            <li><a asp-page="/Projeto/Listar">Projetos</a></li>
                            <li><a asp-page="/Workflow/Listar">Workflow</a></li>
                            <li><a asp-page="/Tarefa/Listar">Tarefas</a></li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </aside>
        <!-- End navigation-->
        <!-- Main content-->
        <section class="content">
            <div class="container-fluid">

                @RenderBody()

            </div>
        </section>
        <!-- End main content-->

    </div>
    <!-- Vendor scripts -->
    <script src="~/vendor/pacejs/pace.min.js"></script>
    <script src="~/vendor/jquery/dist/jquery.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- App scripts -->
    <script src="~/scripts/luna.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>