@page "/projeto/alterar/{id:guid}"
@inject ICpnucleoApiClient cpnucleoApiClient;
@inject NavigationManager navigationManager

<PageTitle>CPN - Alteração de Projeto</PageTitle>

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Alteração de Projeto</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            <EditForm class="form-horizontal" Model="@model" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />

                @if (model.Id == Guid.Empty)
                {
                    <p><em>Carregando...</em></p>
                }
                else
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.Id)" /></label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@model.Id</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.Nome)" /></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" @bind="model.Nome" placeholder="Nome" />
                            <ValidationMessage For="@(() => model.Nome)" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.IdSistema)" /></label>
                        <div class="col-sm-10">
                            <select class="form-control m-b" @bind="model.IdSistema">
                                @foreach (var item in sistemas)
                                {
                                    <option value="@item.Id">@item.Nome</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => model.IdSistema)" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.DataInclusao)" /></label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@model.DataInclusao.ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a class="btn btn-white" role="button" href="/projeto/listar">Voltar</a>
                            <button class="btn btn-primary" type="submit">Alterar</button>
                        </div>
                    </div>
                }
            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private ProjetoDTO model = new ProjetoDTO();
    private IEnumerable<SistemaDTO> sistemas;

    protected override async Task OnInitializedAsync()
    {
        sistemas = await cpnucleoApiClient.GetAsync<IEnumerable<SistemaDTO>>("sistema", "");
        model = await cpnucleoApiClient.GetAsync<ProjetoDTO>("projeto", "", Id);
    }

    private async Task HandleValidSubmit()
    {
        model.Sistema = sistemas.FirstOrDefault(x => x.Id == model.IdSistema);

        await cpnucleoApiClient.PutAsync("projeto", "", Id, model);

        navigationManager.NavigateTo("/projeto/listar");
    }
}