@page "/projeto/listar"
@inject IJSRuntime JS;
@inject ICpnucleoApiClient cpnucleoApiClient;

<PageTitle>CPN - Relação de Projetos</PageTitle>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Relação de Projetos</h5>
                <div class="ibox-tools">
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-primary btn-sm" role="button" href="/projeto/incluir">+ Projeto</a>
                <br /><br />

                @if (projetos == null)
                {
                    <p><em>Carregando...</em></p>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-datatable">
                            <thead>
                                <tr>
                                    <th><DisplayName For="@(() => projeto.Id)" /></th>
                                    <th><DisplayName For="@(() => projeto.Nome)" /></th>
                                    <th><DisplayName For="@(() => projeto.Sistema)" /></th>
                                    <th><DisplayName For="@(() => projeto.DataInclusao)" /></th>
                                    @if (projetos.Count() > 0)
                                    {
                                        <th class="no-sort"></th>
                                        <th class="no-sort"></th>
                                        <th class="no-sort"></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in projetos)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Nome</td>
                                        <td>@item.Sistema.Nome</td>
                                        <td>@item.DataInclusao.ToString("dd/MM/yyyy")</td>
                                        @if (projetos.Count() > 0)
                                        {
                                            <td style="text-align: center">
                                                <a class="btn btn-outline btn-warning btn-xs" role="button" href="/projeto/alterar/@item.Id">Alterar</a>
                                            </td>
                                            <td style="text-align: center">
                                                <a class="btn btn-outline btn-danger btn-xs" role="button" href="/projeto/remover/@item.Id">Remover</a>
                                            </td>
                                            <td style="text-align: center">
                                                <a class="btn btn-outline btn-info btn-xs" role="button" href="/recursoProjeto/listar/@item.Id">+ Recurso</a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><DisplayName For="@(() => projeto.Id)" /></th>
                                    <th><DisplayName For="@(() => projeto.Nome)" /></th>
                                    <th><DisplayName For="@(() => projeto.Sistema)" /></th>
                                    <th><DisplayName For="@(() => projeto.DataInclusao)" /></th>
                                    @if (projetos.Count() > 0)
                                    {
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    }
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private ProjetoDto projeto;
    private IEnumerable<ProjetoDto> projetos;

    protected override async Task OnInitializedAsync()
    {
        projetos = await cpnucleoApiClient.GetAsync<IEnumerable<ProjetoDto>>("projeto", "", true);

        await JS.InvokeVoidAsync("dataTables", "Relação de Projetos");
    }
}