@model ImpedimentoTarefaViewModel
@{
    ViewData["Title"] = "Alteração de Impedimento (Tarefa)";
}

@section Styles {
    <!-- iCheck -->
    <link href="https://cpnucleo-assets.azurewebsites.net/css/plugins/iCheck/custom.css" rel="stylesheet">
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ViewData["Title"]</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            @if (!ViewData.ModelState.IsValid)
            {
                <div asp-validation-summary="All" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            }

            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="ImpedimentoTarefa.Id"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="ImpedimentoTarefa.Id">
                        <p class="form-control-static">@Html.DisplayFor(x => x.ImpedimentoTarefa.Id)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="ImpedimentoTarefa.IdTarefa"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="ImpedimentoTarefa.IdTarefa">
                        <p class="form-control-static">@Html.DisplayFor(x => x.ImpedimentoTarefa.Tarefa.Nome)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="ImpedimentoTarefa.Descricao"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="ImpedimentoTarefa.Descricao" placeholder="@Html.DisplayNameFor(x => x.ImpedimentoTarefa.Descricao)">
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.ImpedimentoTarefa.Descricao)</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="ImpedimentoTarefa.IdImpedimento"></label>
                    <div class="col-sm-10">
                        <select class="form-control m-b" asp-for="ImpedimentoTarefa.IdImpedimento" asp-items="Model.SelectImpedimentos"></select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="ImpedimentoTarefa.DataInclusao"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="ImpedimentoTarefa.DataInclusao">
                        <p class="form-control-static">@Html.DisplayFor(x => x.ImpedimentoTarefa.DataInclusao)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-white" role="button" asp-action="Listar" asp-route-idTarefa="@Model.ImpedimentoTarefa.IdTarefa">Voltar</a>
                        <button class="btn btn-primary" type="submit">Alterar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <!-- iCheck -->
    <script src="https://cpnucleo-assets.azurewebsites.net/js/plugins/iCheck/icheck.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>    

    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}