@page

@model Tarefa.ListarModel
@{
    ViewData["Title"] = "Relação de Tarefas";
}

@section Styles {
    <!-- DataTables -->
    <link href="~/vendor/dataTables/datatables.min.css" rel="stylesheet">
}

<div class="row">
    <div class="col-lg-12">

        <div class="panel panel-filled">
            <div class="panel-heading">@ViewData["Title"]</div>
            <div class="panel-body">
                <a class="btn btn-accent btn-sm" role="button" asp-page="Incluir">+ Tarefa</a>
                <br /><br />
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-bordered table-responsive-sm table-datatable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(x => x.Tarefa.Id)</th>
                                <th>@Html.DisplayNameFor(x => x.Tarefa.Nome)</th>
                                <th>@Html.DisplayNameFor(x => x.Tarefa.Projeto)</th>
                                <th>@Html.DisplayNameFor(x => x.Tarefa.DataInclusao)</th>
                                @if (Model.Lista.Count() > 0)
                                {
                                    <th class="no-sort"></th>
                                    <th class="no-sort"></th>
                                    <th class="no-sort"></th>
                                    <th class="no-sort"></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Lista)
                            {
                                <tr>
                                    <td>@item.Id</td>
                                    <td>@item.Nome</td>
                                    <td>@item.Projeto.Nome</td>
                                    <td>@item.DataInclusao.Value.ToString("dd/MM/yyyy")</td>
                                    @if (Model.Lista.Count() > 0)
                                    {
                                        <td style="text-align: center">
                                            <a class="btn btn-outline btn-warning btn-xs" role="button" asp-page="Alterar" asp-route-id="@item.Id">Alterar</a>
                                        </td>
                                        <td style="text-align: center">
                                            <a class="btn btn-outline btn-danger btn-xs" role="button" asp-page="Remover" asp-route-id="@item.Id">Remover</a>
                                        </td>
                                        <td style="text-align: center">
                                            <a class="btn btn-outline btn-info btn-xs" role="button" asp-page="/RecursoTarefa/Listar" asp-route-idTarefa="@item.Id">+ Recurso</a>
                                        </td>
                                        <td style="text-align: center">
                                            <a class="btn btn-outline btn-success btn-xs" role="button" asp-page="/ImpedimentoTarefa/Listar" asp-route-idTarefa="@item.Id">+ Impedimento</a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(x => x.Tarefa.Id)</th>
                                <th>@Html.DisplayNameFor(x => x.Tarefa.Nome)</th>
                                <th>@Html.DisplayNameFor(x => x.Tarefa.Projeto)</th>
                                <th>@Html.DisplayNameFor(x => x.Tarefa.DataInclusao)</th>
                                @if (Model.Lista.Count() > 0)
                                {
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                }
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <!-- DataTables -->
    <script src="~/vendor/dataTables/datatables.min.js"></script>
    <script src="~/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function () {
            $('.table-datatable').DataTable({
                language: {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Nenhum registro encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Não há registros disponíveis",
                    "infoFiltered": "(filtrando de _MAX_ registros totais)",
                    "search": "Buscar",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Ultima",
                        "next": "Próxima",
                        "previous": "Anterior"
                    }
                },
                pageLength: 10,
                responsive: true,
                dom: "<'row'<'col-sm-4'l><'col-sm-4 text-center'B><'col-sm-4'f>>tp",
                "lengthMenu": [[10, 25, 50, -1], [10, 25, 50, "All"]],
                buttons: [
                    { extend: 'copy', text: 'Copiar', className: 'btn-sm', exportOptions: { columns: [0, 1, 2, 3] } },
                    //{extend: 'csv', title: 'Relação de Tarefas', className: 'btn-sm', exportOptions: { columns: [0, 1, 2, 3] }},
                    { extend: 'excel', title: 'Relação de Tarefas', className: 'btn-sm', exportOptions: { columns: [0, 1, 2, 3] } },
                    { extend: 'pdf', title: 'Relação de Tarefas', className: 'btn-sm', exportOptions: { columns: [0, 1, 2, 3] } },
                    {
                        extend: 'print', text: 'Imprimir', className: 'btn-sm', exportOptions: { columns: [0, 1, 2, 3] },
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });
    </script>
}