@page "{id:Guid}"

@model Tarefa.RemoverModel
@{
    ViewData["Title"] = "Remoção de Tarefa";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-filled">
            <div class="panel-heading">@ViewData["Title"]</div>
            <div class="panel-body">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="Tarefa.Id"></label>
                        <input type="hidden" asp-for="Tarefa.Id">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.Id)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tarefa.Nome"></label>
                        <input type="hidden" asp-for="Tarefa.Nome">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.Nome)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tarefa.Projeto.Sistema"></label>
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.Projeto.Sistema.Nome)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tarefa.IdProjeto"></label>
                        <input type="hidden" asp-for="Tarefa.IdProjeto">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.Projeto.Nome)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tarefa.DataInicio"></label>
                        <input type="hidden" asp-for="Tarefa.DataInicio">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.DataInicio)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tarefa.DataTermino"></label>
                        <input type="hidden" asp-for="Tarefa.DataTermino">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.DataTermino)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tarefa.QtdHoras"></label>
                        <input type="hidden" asp-for="Tarefa.QtdHoras">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.QtdHoras)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tarefa.Detalhe"></label>
                        <input type="hidden" asp-for="Tarefa.Detalhe">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.Detalhe)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tarefa.IdTipoTarefa"></label>
                        <input type="hidden" asp-for="Tarefa.IdTipoTarefa">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.TipoTarefa.Nome)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tarefa.IdWorkflow"></label>
                        <input type="hidden" asp-for="Tarefa.IdWorkflow">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.Workflow.Nome)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tarefa.IdRecurso"></label>
                        <input type="hidden" asp-for="Tarefa.IdRecurso">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.Recurso.Nome)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="Tarefa.DataInclusao"></label>
                        <input type="hidden" asp-for="Tarefa.DataInclusao">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.DataInclusao)</p>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-default" role="button" asp-page="Listar">Voltar</a>
                        <button class="btn btn-accent" type="submit">Remover</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>