@page "{id:Guid}"

@model Workflow.AlterarModel
@{
    ViewData["Title"] = "Alteração de Workflow";
}

@section Styles {
    <!-- TouchSpin -->
    <link href="https://cpnucleo-assets.azurewebsites.net/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ViewData["Title"]</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            @if (!ViewData.ModelState.IsValid)
            {
                <div asp-validation-summary="All" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            }

            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Workflow.Id"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Workflow.Id">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Workflow.Id)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Workflow.Nome"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Workflow.Nome" placeholder="@Html.DisplayNameFor(x => x.Workflow.Nome)">
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.Workflow.Nome)</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.Workflow.Ordem)<br><small class="text-navy">Ordem no Kanban</small></label>
                    <div class="col-sm-10">
                        <input id="ordem" type="text" class="form-control" asp-for="Workflow.Ordem" placeholder="@Html.DisplayNameFor(x => x.Workflow.Ordem)">
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.Workflow.Ordem)</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Workflow.DataInclusao"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Workflow.DataInclusao">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Workflow.DataInclusao)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-white" role="button" asp-page="Listar">Voltar</a>
                        <button class="btn btn-primary" type="submit">Alterar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <!-- TouchSpin -->
    <script src="https://cpnucleo-assets.azurewebsites.net/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#percentual-tarefa").TouchSpin({
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });
        });
    </script>
    
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}