@model             TarefaDTO

<li class="@Model.TipoTarefa.Element" data-toggle="modal" data-target="#modal-apontamento"
    data-nome-tarefa="@Model.Nome" data-id-tarefa="@Model.Id" data-id-recurso="@Model.IdRecurso">
    @Model.Nome
    <div class="agile-detail">
        <i class="fa fa-clock-o"></i> @Model.DataTermino.ToString("dd/MM/yyyy")
        <div class="m-xxs m-l-none"><i class="fa fa-user"></i> #@Model.Id criada por @Model.Recurso.Nome</div>
        @if (Model.HorasRestantes >= 0)
        {
            <text>
                <i class="fa fa-smile-o"></i> <font color="1ab394"> @Model.HorasRestantes horas restantes</font>
            </text>
        }
        else
        {
            <text>
                <i class="fa fa-frown-o"></i><font color="ed5565"> @Model.HorasRestantes.ToString().Replace("-", "") horas excedidas</font>
            </text>
        }
        <a href="#" class="pull-right btn btn-xs btn-white"> @Model.Workflow.Nome</a>
    </div>
</li>