@page "{id:Guid}"

@model Recurso.AlterarModel
@{
    ViewData["Title"] = "Alteração de Recurso";
}

@section Styles {
    <!-- iCheck -->
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
    <style>
        .progress {
            margin-top: 10px;
            margin-bottom: 0px;
        }
    </style>
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ViewData["Title"]</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Recurso.Id"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Recurso.Id">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Recurso.Id)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Recurso.Nome"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Recurso.Nome" placeholder="@Html.DisplayNameFor(x => x.Recurso.Nome)">
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.Recurso.Nome)</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Recurso.Ativo"></label>
                    <div class="col-sm-10">
                        <div class="i-checks">
                            <label> <input type="checkbox" asp-for="Recurso.Ativo"> <i></i> </label>
                        </div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Recurso.Login"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Recurso.Login">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Recurso.Login)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Recurso.Senha"></label>
                    <div id="senha-container" class="col-sm-10">
                        <input id="senha" type="password" class="form-control" asp-for="Recurso.Senha" placeholder="@Html.DisplayNameFor(x => x.Recurso.Senha)">
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.Recurso.Senha)</span>
                        <div class="senha-progress" style="margin-bottom: 0px;"></div>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Recurso.ConfirmarSenha"></label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" asp-for="Recurso.ConfirmarSenha" placeholder="@Html.DisplayNameFor(x => x.Recurso.ConfirmarSenha)">
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.Recurso.ConfirmarSenha)</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Recurso.DataInclusao"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Recurso.DataInclusao">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Recurso.DataInclusao)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-white" role="button" asp-page="Listar">Voltar</a>
                        <button class="btn btn-primary" type="submit">Alterar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <!-- iCheck -->
    <script src="~/js/plugins/iCheck/icheck.min.js"></script>
    <!-- Password meter -->
    <script src="~/js/plugins/pwstrength/pwstrength-bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
    <script>
        $(document).ready(function () {

            var options = {};
            options.ui = {
                container: "#senha-container",
                showVerdictsInsideProgressBar: true,
                viewports: {
                    progress: ".senha-progress"
                }
            };
            options.common = {
                debug: false,
            };
            options.i18n = {
                t: function (key) {
                    var result = translateThisThing(key);

                    return result === key ? '' : result;
                }
            };
            $('#senha').pwstrength(options);
        });
    </script>
    <script>
        function translateThisThing(key) {

            if (key == "veryWeak") {
                return "Muito Fraca";
            }

            if (key == "weak") {
                return "Fraca";
            }

            if (key == "normal") {
                return "Normal";
            }

            if (key == "medium") {
                return "Média";
            }

            if (key == "strong") {
                return "Forte";
            }

            if (key == "veryStrong") {
                return "Muito Forte";
            }
        }
    </script>
    
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}