@page "/impedimentoTarefa/incluir/{idTarefa:guid}"
@inject ICpnucleoApiService cpnucleoApiService;
@inject NavigationManager navigationManager;

<PageTitle>CPN - Inclusão de Impedimento (Tarefa)</PageTitle>

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Inclusão de Impedimento (Tarefa)</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            <EditForm class="form-horizontal" Model="@model" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />

                @if (impedimentos == null)
                {
                    <p><em>Carregando...</em></p>
                }
                else
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.IdTarefa)" /></label>
                        <div class="col-sm-10">
                            <input type="hidden" @bind="model.IdTarefa" />
                            <p class="form-control-static">@tarefa.Nome</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.Descricao)" /></label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" @bind="model.Descricao" placeholder="Descrição" />
                            <ValidationMessage For="@(() => model.Descricao)" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.IdImpedimento)" /></label>
                        <div class="col-sm-10">
                            <select class="form-control m-b" @bind="model.IdImpedimento">
                                @foreach (var item in impedimentos)
                                {
                                    <option value="@item.Id">@item.Nome</option>
                                }
                            </select>
                            <ValidationMessage For="@(() => model.IdImpedimento)" />
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a class="btn btn-white" role="button" href="/impedimentoTarefa/listar/@IdTarefa">Voltar</a>
                            <button class="btn btn-primary" type="submit">Incluir</button>
                        </div>
                    </div>
                }

            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid IdTarefa { get; set; }

    private ImpedimentoTarefaViewModel model = new ImpedimentoTarefaViewModel();
    private TarefaViewModel tarefa;
    private IEnumerable<ImpedimentoViewModel> impedimentos;

    protected override async Task OnInitializedAsync()
    {
        tarefa = await cpnucleoApiService.GetAsync<TarefaViewModel>("tarefa", "", IdTarefa);
        impedimentos = await cpnucleoApiService.GetAsync<IEnumerable<ImpedimentoViewModel>>("impedimento", "");

        model.IdTarefa = IdTarefa;
        model.IdImpedimento = impedimentos.FirstOrDefault().Id;
    }

    private async Task HandleValidSubmit()
    {
        await cpnucleoApiService.PostAsync<ImpedimentoTarefaViewModel>("impedimentoTarefa", "", model);

        navigationManager.NavigateTo($"/impedimentoTarefa/listar/{IdTarefa}");
    }
}