@model Cpnucleo.Shared.Common.DTOs.TarefaDTO

<li class="@Model.TipoTarefa.Element image-align" id="@Model.Id" data-idworkflow="@Model.IdWorkflow" style="background-image:url(@Model.TipoTarefa.Image);">
    @Model.Nome
    <div class="agile-detail">
        <i class="fa fa-clock-o"></i> @Model.DataTermino.ToString("dd/MM/yyyy")
        <div class="m-xxs m-l-none"><i class="fa fa-user"></i> #@Model.Id criada por @Model.Recurso.Nome</div>
        <i class="fa fa-plus-square-o"></i> <font color="1c84c6"> @Model.QtdHoras horas planejadas</font>
        @if (@Model.HorasConsumidas != 0)
        {
            <br />
            <i class="fa fa-minus-square-o"></i> <font color="f8ac59">  @Model.HorasConsumidas horas consumidas</font>
            if (@Model.HorasRestantes >= 0)
            {
                <text>
                    <br />
                    <i class="fa fa-smile-o"></i> <font color="1ab394"> @Model.HorasRestantes horas restantes</font>
                </text>
            }
            else
            {
                <text>
                    <br />
                    <i class="fa fa-frown-o"></i><font color="ed5565"> @Model.HorasRestantes.ToString().Replace("-", "") horas excedidas</font>
                </text>
            }
        }
    </div>
</li>