@inject IOptions<ApplicationConfigurations> OptionsApplicationConfiguration

<!DOCTYPE html>
<html>
<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-144007742-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-144007742-2');
    </script>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@OptionsApplicationConfiguration.Value.NomeSistema - @ViewData["Title"]</title>
    @RenderSection("styles", required: false)
    <!-- Mainly links -->
    <link href="https://cpnucleo-assets.azurewebsites.net/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cpnucleo-assets.azurewebsites.net/css/animate.css" rel="stylesheet">
    <link href="https://cpnucleo-assets.azurewebsites.net/css/style.css" rel="stylesheet">
    <link href="https://cpnucleo-assets.azurewebsites.net/font-awesome/css/font-awesome.css" rel="stylesheet">
</head>
<body class="top-navigation">
    <mini-profiler position="RenderPosition.BottomRight" />
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <div class="navbar-brand">@OptionsApplicationConfiguration.Value.NomeSistema - Razor Pages</div>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li>
                                <a aria-expanded="false" role="button" asp-page="/Apontamento/Listar">Apontamentos</a>
                            </li>
                            <li>
                                <a aria-expanded="false" role="button" asp-page="/Apontamento/FluxoTrabalho">Fluxo de Trabalho</a>
                            </li>
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Gerenciar <span class="caret"></span></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a asp-page="/Sistema/Listar">Relação de Sistemas</a></li>
                                    <li><a asp-page="/Impedimento/Listar">Relação de Impedimentos</a></li>
                                    <li><a asp-page="/Recurso/Listar">Relação de Recursos</a></li>
                                    <li><a asp-page="/Projeto/Listar">Relação de Projetos</a></li>
                                    <li><a asp-page="/Workflow/Listar">Relação de Workflow</a></li>
                                    <li><a asp-page="/Tarefa/Listar">Relação de Tarefas</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <a asp-page="/Login" asp-route-logout="true">
                                    <i class="fa fa-sign-out"></i> Sair
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="wrapper wrapper-content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
            <div class="footer">
                <div>
                    <strong>Copyright</strong> &copy; 2016 - @DateTime.UtcNow.Year <a href="http://jonathanperis.github.io" target="_blank">Jonathan Peris</a>, todos os direitos Reservados.
                </div>
            </div>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="https://cpnucleo-assets.azurewebsites.net/js/jquery-3.1.1.min.js"></script>
    <script src="https://cpnucleo-assets.azurewebsites.net/js/bootstrap.min.js"></script>
    <script src="https://cpnucleo-assets.azurewebsites.net/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="https://cpnucleo-assets.azurewebsites.net/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="https://cpnucleo-assets.azurewebsites.net/js/inspinia.js"></script>
    <script src="https://cpnucleo-assets.azurewebsites.net/js/plugins/pace/pace.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>