@page "/sistema/incluir"

@inject NavigationManager NavigationManager
@inject IAppService<SistemaViewModel> SistemaAppService

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Inclusão de Sistema</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <EditForm Model="@model" OnValidSubmit="@OnValidSubmit" OnInvalidSubmit="@OnInvalidSubmit" class="form-horizontal">
                <DataAnnotationsValidator />

                <div class="form-group">
                    <label class="col-sm-2 control-label">Nome</label>
                    <div class="col-sm-10">
                        <InputText class="form-control" @bind-Value="@model.Nome" placeholder="Nome" />
                        <ValidationMessage class="help-block m-b-none" For="@(() => model.Nome)" />
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">Descrição</label>
                    <div class="col-sm-10">
                        <InputText class="form-control" @bind-Value="@model.Descricao" placeholder="Descrição" />
                        <ValidationMessage class="help-block m-b-none" For="@(() => model.Descricao)" />
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <NavLink class="btn btn-white" role="button" href="/sistema/listar">Voltar</NavLink>
                        <button class="btn btn-primary" type="submit">Incluir</button>
                    </div>
                </div>
            </EditForm>
        </div>
    </div>
</div>

<p>Validation result: @validationStatus</p>

@code {
    SistemaViewModel model = new SistemaViewModel();
    string validationStatus = "";

    void OnValidSubmit()
    {
        SistemaAppService.Incluir(model);

        NavigationManager.NavigateTo("/sistema/listar");
    }

    void OnInvalidSubmit()
    {
        validationStatus = "Failed!";
    }
}
