@page

@model Workflow.IncluirModel
@{
    ViewData["Title"] = "Inclusão de Workflow";
}

@section Styles {
    <!-- TouchSpin -->
    <link href="~/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ViewData["Title"]</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Workflow.Nome"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Workflow.Nome" placeholder="@Html.DisplayNameFor(x => x.Workflow.Nome)">
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.Workflow.Nome)</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.Workflow.Ordem)<br><small class="text-navy">Ordem no Kanban</small></label>
                    <div class="col-sm-10">
                        <input id="ordem" type="text" class="form-control" asp-for="Workflow.Ordem" placeholder="@Html.DisplayNameFor(x => x.Workflow.Ordem)">
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.Workflow.Ordem)</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-white" role="button" asp-page="Listar">Voltar</a>
                        <button class="btn btn-primary" type="submit">Incluir</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <!-- TouchSpin -->
    <script src="~/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <!-- Ajax Unobtrusive -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#percentual-tarefa").TouchSpin({
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });
        });
    </script>
    <script type="text/javascript">
        (function ($) {
            var defaultOptions = {
                validClass: 'has-success',
                errorClass: 'has-error',
                highlight: function (element, errorClass, validClass) {
                    $(element).closest(".form-group")
                        .removeClass(validClass)
                        .addClass('has-error');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).closest(".form-group")
                        .removeClass('has-error')
                        .addClass(validClass);
                }
            };

            $.validator.setDefaults(defaultOptions);

            $.validator.unobtrusive.options = {
                errorClass: defaultOptions.errorClass,
                validClass: defaultOptions.validClass,
            };
        })(jQuery);
    </script>
}