@page

@model FluxoTrabalhoModel
@{
    ViewData["Title"] = "Fluxo de Trabalho";
}

@section Styles {
    <!-- Toastr script -->
    <link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <style>
        .image-align {
            background-repeat: no-repeat !important;
            background-position: bottom right !important;
        }
    </style>
}

<div class="row">
    @if (Model.Lista != null)
    {
        @Html.AntiForgeryToken()

        foreach (var workflow in Model.Lista)
        {
            <div class="col-lg-@ViewData["col-lg-*"]">
                <div class="ibox">
                    <div class="ibox-content">
                        <h3>@workflow.Nome <span id="workflow-animate-@workflow.Id" class="animated"><span id="workflow-badge-@workflow.Id" class="badge">@workflow.ListaTarefas.Count()</span></span></h3>
                        <p class="small"><i class="fa fa-hand-o-up"></i> Arraste a tarefa entre as listas</p>
                        <ul class="sortable-list connectList agile-list ui-sortable" id="workflow-id-@workflow.Id">
                            @foreach (var tarefa in workflow.ListaTarefas)
                            {
                                await Html.RenderPartialAsync("_CardFluxoTrabalhoPartial", tarefa);
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    }
</div>

@section Scripts {
    <!-- jquery UI -->
    <script src="~/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Touch Punch - Touch Event Support for jQuery UI -->
    <script src="~/js/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
    <!-- Toastr script -->
    <script src="~/js/plugins/toastr/toastr.min.js"></script>
    <!-- SignalR -->
    <script src="~/lib/signalr/signalr.min.js"></script>
    @if (Model.Lista != null)
    {
        foreach (var workflow in Model.Lista)
        {
            <script>
                $(document).ready(function(){

                    $("#workflow-id-@workflow.Id").sortable({
                        connectWith: ".connectList",
                        update: function( event, ui ) {

                            var idsTarefa = $("#workflow-id-@workflow.Id").sortable("toArray");

                            for (i = 0; i < idsTarefa.length; i++) {

                                var idTarefa = idsTarefa[i];

                                var idWorkflowTarefa = $("#" + idTarefa).data("idworkflow");
                                var idWorkflowColuna = @workflow.Id;

                                if (idWorkflowColuna != idWorkflowTarefa) {

                                    $.ajax({
                                        type: "POST",
                                        url: "/FluxoTrabalho",
                                        data: { idTarefa: idTarefa, idWorkflow: idWorkflowColuna },
                                        beforeSend: function (xhr) {

                                            xhr.setRequestHeader("XSRF-TOKEN",
                                                $('input:hidden[name="__RequestVerificationToken"]').val());
                                        },
                                        success: function (response) {

                                            $("#workflow-animate-" + idWorkflowTarefa).removeAttr('class').attr('class', '');
                                            $("#workflow-animate-" + idWorkflowTarefa).addClass('animated');
                                            $("#workflow-animate-" + idWorkflowTarefa).addClass('flash');

                                            $("#workflow-badge-" + idWorkflowTarefa).empty();
                                            $("#workflow-badge-" + idWorkflowTarefa).append($("#workflow-id-" + idWorkflowTarefa).sortable("toArray").length);

                                            $("#" + idTarefa).data("idworkflow", idWorkflowColuna);

                                            $("#workflow-animate-@workflow.Id").removeAttr('class').attr('class', '');
                                            $("#workflow-animate-@workflow.Id").addClass('animated');
                                            $("#workflow-animate-@workflow.Id").addClass('flash');

                                            $("#workflow-badge-@workflow.Id").empty();
                                            $("#workflow-badge-@workflow.Id").append(idsTarefa.length);

                                            toastr.options = {
                                                "closeButton": true,
                                                "debug": false,
                                                "progressBar": true,
                                                "preventDuplicates": false,
                                                "positionClass": "toast-bottom-right",
                                                "onclick": null,
                                                "showDuration": "400",
                                                "hideDuration": "1000",
                                                "timeOut": "7000",
                                                "extendedTimeOut": "1000",
                                                "showEasing": "swing",
                                                "hideEasing": "linear",
                                                "showMethod": "fadeIn",
                                                "hideMethod": "fadeOut"
                                            }

                                            toastr.success("Tarefa #" + idTarefa + " movida com sucesso para a etapa de @workflow.Nome")
                                        },
                                        failure: function (response) {

                                            toastr.error("Falha ao mover tarefa #" + idTarefa + " para a etapa de @workflow.Nome")
                                        }
                                    });
                                }
                            }
                        }
                    }).disableSelection();

                });
            </script>
        }
    }
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/fluxoTrabalhoHub")
            .build();

        connection.on('send', data => {
            console.log(data);
        });

        connection.start().catch(err => console.error(err.toString()));
    </script>
}