@page "{idTarefa:Guid}"

@model RecursoTarefa.IncluirModel
@{
    ViewData["Title"] = "Inclusão de Recurso (Tarefa)";
}

@section Styles {
    <!-- TouchSpin -->
    <link href="https://cpnucleo-assets.azurewebsites.net/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ViewData["Title"]</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="RecursoTarefa.IdTarefa"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="RecursoTarefa.IdTarefa" value="@Model.Tarefa.Id">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.Nome)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="RecursoTarefa.IdRecurso"></label>
                    <div class="col-sm-10">
                        <select class="form-control m-b" asp-for="RecursoTarefa.IdRecurso" asp-items="Model.SelectRecursos"></select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.RecursoTarefa.PercentualTarefa)<br><small class="text-navy">Percentual de alocação</small></label>
                    <div class="col-sm-10">
                        <input id="percentual-tarefa" type="text" class="form-control" asp-for="RecursoTarefa.PercentualTarefa" placeholder="@Html.DisplayNameFor(x => x.RecursoTarefa.PercentualTarefa)">
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.RecursoTarefa.PercentualTarefa)</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-white" role="button" asp-page="Listar" asp-route-idTarefa="@Model.Tarefa.Id">Voltar</a>
                        <button class="btn btn-primary" type="submit">Incluir</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <!-- TouchSpin -->
    <script src="https://cpnucleo-assets.azurewebsites.net/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <script>
        $(document).ready(function () {

            $("#percentual-tarefa").TouchSpin({
                buttondown_class: 'btn btn-white',
                buttonup_class: 'btn btn-white'
            });
        });
    </script>
    
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}