@inject IOptions<ApplicationConfigurations> OptionsApplicationConfiguration

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - @OptionsApplicationConfiguration.Value.NomeSistema</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/toastr/toastr.min.css" rel="stylesheet">
    <link href="~/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="~/css/animate.css" rel="stylesheet">
    <link href="~/css/style.css" rel="stylesheet">
    <link href="~/css/plugins/dataTables/datatables.min.css" rel="stylesheet">
    <link href="~/css/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="~/css/plugins/touchspin/jquery.bootstrap-touchspin.min.css" rel="stylesheet">
    <link href="~/css/plugins/iCheck/custom.css" rel="stylesheet">
    <link href="~/css/plugins/jasny/jasny-bootstrap.min.css" rel="stylesheet">
    <link href="~/css/plugins/c3/c3.min.css" rel="stylesheet">
    @RenderSection("styles", required: false)
    <!-- SignalR -->
    <script src="~/js/signalr-client-1.0.0-alpha1-final.min.js"></script>
    @RenderSection("signalr", required: false)
</head>
<body class="top-navigation">
    <div id="wrapper">
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom white-bg">
                <nav class="navbar navbar-static-top" role="navigation">
                    <div class="navbar-header">
                        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                            <i class="fa fa-reorder"></i>
                        </button>
                        <div class="navbar-brand">@OptionsApplicationConfiguration.Value.NomeSistema</div>
                    </div>
                    <div class="navbar-collapse collapse" id="navbar">
                        <ul class="nav navbar-nav">
                            <li>
                                <a aria-expanded="false" role="button" asp-page="/Apontamento">Apontamentos</a>
                            </li>
                            <li>
                                <a aria-expanded="false" role="button" asp-page="/FluxoTrabalho">Fluxo de Trabalho</a>
                            </li>
                            <li class="dropdown">
                                <a aria-expanded="false" role="button" href="#" class="dropdown-toggle" data-toggle="dropdown"> Gerenciar <span class="caret"></span></a>
                                <ul role="menu" class="dropdown-menu">
                                    <li><a asp-page="/Sistema/Listar">Relação de Sistemas</a></li>
                                    <li><a asp-page="/Impedimento/Listar">Relação de Impedimentos</a></li>
                                    <li><a asp-page="/Recurso/Listar">Relação de Recursos</a></li>
                                    <li><a asp-page="/Projeto/Listar">Relação de Projetos</a></li>
                                    <li><a asp-page="/Workflow/Listar">Relação de Workflow</a></li>
                                    <li><a asp-page="/Tarefa/Listar">Relação de Tarefas</a></li>
                                </ul>
                            </li>
                        </ul>
                        <ul class="nav navbar-top-links navbar-right">
                            <li>
                                <a asp-page="/Login" asp-page-handler="Logout">
                                    <i class="fa fa-sign-out"></i> Sair
                                </a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
            <div class="wrapper wrapper-content">
                <div class="container">
                    @RenderBody()
                </div>
            </div>
            <div class="footer">
                <div>
                    <strong>Copyright</strong> &copy; @DateTime.Now.Year @OptionsApplicationConfiguration.Value.Copyright
                </div>
            </div>
        </div>
    </div>
    <!-- Mainly scripts -->
    <script src="~/js/jquery-3.1.1.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="~/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <!-- Custom and plugin javascript -->
    <script src="~/js/inspinia.js"></script>
    <script src="~/js/plugins/pace/pace.min.js"></script>
    <!-- DataTables -->
    <script src="~/js/plugins/dataTables/datatables.min.js"></script>
    <!-- TouchSpin -->
    <script src="~/js/plugins/touchspin/jquery.bootstrap-touchspin.min.js"></script>
    <!-- jquery UI -->
    <script src="~/js/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Touch Punch - Touch Event Support for jQuery UI -->
    <script src="~/js/plugins/touchpunch/jquery.ui.touch-punch.min.js"></script>
    <!-- DatePicker -->
    <script src="~/js/plugins/datapicker/bootstrap-datepicker.js"></script>
    <script src="~/js/plugins/datapicker/bootstrap-datepicker.pt-BR.js"></script>
    <!-- Password meter -->
    <script src="~/js/plugins/pwstrength/pwstrength-bootstrap.min.js"></script>
    <!-- iCheck -->
    <script src="~/js/plugins/iCheck/icheck.min.js"></script>
    <!-- Input Mask -->
    <script src="~/js/plugins/jasny/jasny-bootstrap.min.js"></script>
    <!-- d3 and c3 charts -->
    <script src="~/js/plugins/d3/d3.min.js"></script>
    <script src="~/js/plugins/c3/c3.min.js"></script>
    <!-- Toastr script -->
    <script src="~/js/plugins/toastr/toastr.min.js"></script>
    <!-- Ajax Unobtrusive -->
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/jquery.unobtrusive-ajax.min.js"></script>
    <script type="text/javascript">
        (function ($) {
            var defaultOptions = {
                validClass: 'has-success',
                errorClass: 'has-error',
                highlight: function (element, errorClass, validClass) {
                    $(element).closest(".form-group")
                        .removeClass(validClass)
                        .addClass('has-error');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).closest(".form-group")
                        .removeClass('has-error')
                        .addClass(validClass);
                }
            };

            $.validator.setDefaults(defaultOptions);

            $.validator.unobtrusive.options = {
                errorClass: defaultOptions.errorClass,
                validClass: defaultOptions.validClass,
            };
        })(jQuery);
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('.i-checks').iCheck({
                checkboxClass: 'icheckbox_square-green',
                radioClass: 'iradio_square-green',
            });
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>