@page "{idSistema:int}"
@model dotnet_cpnucleo_pages.Pages.Sistema.RemoverModel
@{
    ViewData["Title"] = "Remoção de Sistema";
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ViewData["Title"]</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Sistema.IdSistema"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Sistema.IdSistema">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Sistema.IdSistema)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Sistema.Nome"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Sistema.Nome">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Sistema.Nome)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Sistema.Descricao"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Sistema.Descricao">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Sistema.Descricao)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Sistema.DataInclusao"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Sistema.DataInclusao">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Sistema.DataInclusao)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-white" role="button" asp-page="./Listar">Voltar</a>
                        <button class="btn btn-primary" type="submit">Remover</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>