@page "/sistema/listar"
@inject IJSRuntime JS;
@inject ICpnucleoApiClient cpnucleoApiClient;

<PageTitle>CPN - Relação de Sistemas</PageTitle>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Relação de Sistemas</h5>
                <div class="ibox-tools">
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-primary btn-sm" role="button" href="/sistema/incluir">+ Sistema</a>
                <br /><br />

                @if (sistemas == null)
                {
                    <p><em>Carregando...</em></p>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-datatable">
                            <thead>
                                <tr>
                                    <th><DisplayName For="@(() => sistema.Id)" /></th>
                                    <th><DisplayName For="@(() => sistema.Nome)" /></th>
                                    <th><DisplayName For="@(() => sistema.Descricao)" /></th>
                                    <th><DisplayName For="@(() => sistema.DataInclusao)" /></th>
                                    @if (sistemas.Count() > 0)
                                    {
                                        <th class="no-sort"></th>
                                        <th class="no-sort"></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in sistemas)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Nome</td>
                                        <td>@item.Descricao</td>
                                        <td>@item.DataInclusao.ToString("dd/MM/yyyy")</td>
                                        @if (sistemas.Count() > 0)
                                        {
                                            <td style="text-align: center">
                                                <a class="btn btn-outline btn-warning btn-xs" role="button" href="/sistema/alterar/@item.Id">Alterar</a>
                                            </td>
                                            <td style="text-align: center">
                                                <a class="btn btn-outline btn-danger btn-xs" role="button" href="/sistema/remover/@item.Id">Remover</a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><DisplayName For="@(() => sistema.Id)" /></th>
                                    <th><DisplayName For="@(() => sistema.Nome)" /></th>
                                    <th><DisplayName For="@(() => sistema.Descricao)" /></th>
                                    <th><DisplayName For="@(() => sistema.DataInclusao)" /></th>
                                    @if (sistemas.Count() > 0)
                                    {
                                        <th></th>
                                        <th></th>
                                    }
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private SistemaDto sistema;
    private IEnumerable<SistemaDto> sistemas;

    protected override async Task OnInitializedAsync()
    {
        sistemas = await cpnucleoApiClient.GetAsync<IEnumerable<SistemaDto>>("sistema", "");

        await JS.InvokeVoidAsync("dataTables", "Relação de Sistemas");
    }
}