@page "{id:Guid}"

@model RecursoProjeto.RemoverModel
@{
    ViewData["Title"] = "Remoção de Recurso (Projeto)";
}

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-filled">
            <div class="panel-heading">@ViewData["Title"]</div>
            <div class="panel-body">
                <form method="post">
                    <div class="form-group">
                        <label asp-for="RecursoProjeto.Id"></label>
                        <input type="hidden" asp-for="RecursoProjeto.Id">
                        <p class="form-control-static">@Html.DisplayFor(x => x.RecursoProjeto.Id)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="RecursoProjeto.IdProjeto"></label>
                        <input type="hidden" asp-for="RecursoProjeto.IdProjeto" value="@Model.RecursoProjeto.IdProjeto">
                        <p class="form-control-static">@Html.DisplayFor(x => x.RecursoProjeto.Projeto.Nome)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="RecursoProjeto.IdRecurso"></label>
                        <input type="hidden" asp-for="RecursoProjeto.IdRecurso">
                        <p class="form-control-static">@Html.DisplayFor(x => x.RecursoProjeto.Recurso.Nome)</p>
                    </div>

                    <div class="form-group">
                        <label asp-for="RecursoProjeto.DataInclusao"></label>
                        <input type="hidden" asp-for="RecursoProjeto.DataInclusao">
                        <p class="form-control-static">@Html.DisplayFor(x => x.RecursoProjeto.DataInclusao)</p>
                    </div>

                    <div class="form-group">
                        <a class="btn btn-default" role="button" asp-page="Listar" asp-route-idProjeto="@Model.RecursoProjeto.IdProjeto">Voltar</a>
                        <button class="btn btn-accent" type="submit">Remover</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>