@model TarefaView
@{
    ViewData["Title"] = "Alteração de Tarefa";
}

@section Styles {
    <!-- DatePicker -->
    <link href="https://cpnucleo-assets.azurewebsites.net/css/plugins/datepicker/datepicker3.css" rel="stylesheet">
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ViewData["Title"]</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            @if (!ViewData.ModelState.IsValid)
            {
                <div asp-validation-summary="All" class="alert alert-danger alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                </div>
            }

            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Tarefa.Id"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Tarefa.Id">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.Id)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Tarefa.Nome"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Tarefa.Nome" placeholder="@Html.DisplayNameFor(x => x.Tarefa.Nome)">
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.Tarefa.Nome)</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <!--IMPLEMENTAR DROPDOWN DE SISTEMA AQUI.-->
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Tarefa.IdProjeto"></label>
                    <div class="col-sm-10">
                        <select class="form-control m-b" asp-for="Tarefa.IdProjeto" asp-items="Model.SelectProjetos"></select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div id="date-inicio" class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Tarefa.DataInicio"></label>
                    <div class="col-sm-10">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" asp-for="Tarefa.DataInicio" placeholder="@Html.DisplayNameFor(x => x.Tarefa.DataInicio)" data-mask="99/99/9999">
                        </div>
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.Tarefa.DataInicio)</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div id="date-termino" class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Tarefa.DataTermino"></label>
                    <div class="col-sm-10">
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            <input type="text" class="form-control" asp-for="Tarefa.DataTermino" placeholder="@Html.DisplayNameFor(x => x.Tarefa.DataTermino)" data-mask="99/99/9999">
                        </div>
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.Tarefa.DataTermino)</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.Tarefa.QtdHoras)<br><small class="text-navy">Horas</small></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Tarefa.QtdHoras" placeholder="@Html.DisplayNameFor(x => x.Tarefa.QtdHoras)">
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.Tarefa.QtdHoras)</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Tarefa.Detalhe"></label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" asp-for="Tarefa.Detalhe" placeholder="@Html.DisplayNameFor(x => x.Tarefa.Detalhe)">
                        <span class="help-block m-b-none">@Html.ValidationMessageFor(x => x.Tarefa.Detalhe)</span>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Tarefa.IdTipoTarefa"></label>
                    <div class="col-sm-10">
                        <select class="form-control m-b" asp-for="Tarefa.IdTipoTarefa" asp-items="Model.SelectTipoTarefas"></select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Tarefa.IdWorkflow"></label>
                    <div class="col-sm-10">
                        <select class="form-control m-b" asp-for="Tarefa.IdWorkflow" asp-items="Model.SelectWorkflows"></select>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.Tarefa.IdRecurso)<br><small class="text-navy">Criador da Tarefa</small></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Tarefa.IdRecurso">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.Recurso.Nome)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Tarefa.DataInclusao"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Tarefa.DataInclusao">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Tarefa.DataInclusao)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-white" role="button" asp-action="Listar">Voltar</a>
                        <button class="btn btn-primary" type="submit">Alterar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <!-- DatePicker -->
    <script src="https://cpnucleo-assets.azurewebsites.net/js/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="https://cpnucleo-assets.azurewebsites.net/js/plugins/datepicker/bootstrap-datepicker.pt-BR.js"></script>
    <script>
        $(document).ready(function () {

            $('#date-inicio .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'dd/mm/yyyy',
                language: 'pt-BR'
            });

            $('#date-termino .input-group.date').datepicker({
                todayBtn: "linked",
                keyboardNavigation: false,
                forceParse: false,
                calendarWeeks: true,
                autoclose: true,
                format: 'dd/mm/yyyy',
                language: 'pt-BR'
            });
        });
    </script>
    
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}