@page "{idTarefa:int}"
@model ImpedimentoTarefa.ListarModel
@{
    ViewData["Title"] = "Relação de Impedimentos (Tarefa)";
}

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>@ViewData["Title"]</h5>
                <div class="ibox-tools">
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-white btn-sm" role="button" asp-page="/Tarefa/Listar">Voltar</a>
                <a class="btn btn-primary btn-sm" role="button" asp-page="Incluir" asp-route-idTarefa="@ViewData["idTarefa"]">+ Impedimento</a>
                <br /><br />
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover table-datatable">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(x => x.ImpedimentoTarefa.IdImpedimentoTarefa)</th>
                                <th>@Html.DisplayNameFor(x => x.ImpedimentoTarefa.Descricao)</th>
                                <th>@Html.DisplayNameFor(x => x.ImpedimentoTarefa.Tarefa)</th>
                                <th>@Html.DisplayNameFor(x => x.ImpedimentoTarefa.Impedimento)</th>
                                <th>@Html.DisplayNameFor(x => x.ImpedimentoTarefa.Ativo)</th>
                                <th>@Html.DisplayNameFor(x => x.ImpedimentoTarefa.DataInclusao)</th>
                                @if (Model.Lista.Count > 0)
                                {
                                    <th class="no-sort"></th>
                                    <th class="no-sort"></th>
                                }
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Lista)
                            {
                                <tr>
                                    <td>@item.IdImpedimentoTarefa</td>
                                    <td>@item.Descricao</td>
                                    <td>@item.Tarefa.Nome</td>
                                    <td>@item.Impedimento.Nome</td>
                                    <td>@(item.Ativo ? "Sim" : "Não")</td>
                                    <td>@item.DataInclusao.Value.ToString("dd/MM/yyyy")</td>
                                    @if (Model.Lista.Count > 0)
                                    {
                                        <td style="text-align: center">
                                            <a class="btn btn-outline btn-warning btn-xs" role="button" asp-page="Alterar" asp-route-idImpedimentoTarefa="@item.IdImpedimentoTarefa">Alterar</a>
                                        </td>
                                        <td style="text-align: center">
                                            <a class="btn btn-outline btn-danger btn-xs" role="button" asp-page="Remover" asp-route-idImpedimentoTarefa="@item.IdImpedimentoTarefa">Remover</a>
                                        </td>
                                    }
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>@Html.DisplayNameFor(x => x.ImpedimentoTarefa.IdImpedimentoTarefa)</th>
                                <th>@Html.DisplayNameFor(x => x.ImpedimentoTarefa.Descricao)</th>
                                <th>@Html.DisplayNameFor(x => x.ImpedimentoTarefa.Tarefa)</th>
                                <th>@Html.DisplayNameFor(x => x.ImpedimentoTarefa.Impedimento)</th>
                                <th>@Html.DisplayNameFor(x => x.ImpedimentoTarefa.Ativo)</th>
                                <th>@Html.DisplayNameFor(x => x.ImpedimentoTarefa.DataInclusao)</th>
                                @if (Model.Lista.Count > 0)
                                {
                                    <th></th>
                                    <th></th>
                                }
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('.table-datatable').DataTable({
                language: {
                    "lengthMenu": "Mostrando _MENU_ registros por página",
                    "zeroRecords": "Nenhum registro encontrado",
                    "info": "Mostrando página _PAGE_ de _PAGES_",
                    "infoEmpty": "Não há registros disponíveis",
                    "infoFiltered": "(filtrando de _MAX_ registros totais)",
                    "search": "Buscar",
                    "loadingRecords": "Carregando...",
                    "processing": "Processando...",
                    "paginate": {
                        "first": "Primeira",
                        "last": "Ultima",
                        "next": "Próxima",
                        "previous": "Anterior"
                    }
                },
                pageLength: 10,
                responsive: true,
                dom: '<"html5buttons"B>lTfgitp',
                buttons: [
                    { extend: 'copy', text: 'Copiar', exportOptions: { columns: [0, 1, 2, 3, 4, 5] } },
                    //{extend: 'csv', title: 'Relação de Impedimentos (Tarefa)', exportOptions: { columns: [0, 1, 2, 3, 4, 5] }},
                    { extend: 'excel', title: 'Relação de Impedimentos (Tarefa)', exportOptions: { columns: [0, 1, 2, 3, 4, 5] } },
                    { extend: 'pdf', title: 'Relação de Impedimentos (Tarefa)', exportOptions: { columns: [0, 1, 2, 3, 4, 5] } },
                    {
                        extend: 'print', text: 'Imprimir', exportOptions: { columns: [0, 1, 2, 3, 4, 5] },
                        customize: function (win) {
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                .addClass('compact')
                                .css('font-size', 'inherit');
                        }
                    }
                ],
                "columnDefs": [{
                    "targets": 'no-sort',
                    "orderable": false,
                }]
            });
        });
    </script>
}