@page "/tarefa/listar"
@inject IJSRuntime JS;
@inject ICpnucleoApiService cpnucleoApiService;

<PageTitle>CPN - Relação de Tarefas</PageTitle>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Relação de Tarefas</h5>
                <div class="ibox-tools">
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-primary btn-sm" role="button" href="/tarefa/incluir">+ Tarefa</a>
                <br /><br />

                @if (tarefas == null)
                {
                    <p><em>Carregando...</em></p>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-datatable">
                            <thead>
                                <tr>
                                    <th><DisplayName For="@(() => tarefa.Id)" /></th>
                                    <th><DisplayName For="@(() => tarefa.Nome)" /></th>
                                    <th><DisplayName For="@(() => tarefa.Projeto)" /></th>
                                    <th><DisplayName For="@(() => tarefa.DataInclusao)" /></th>
                                    @if (tarefas.Count() > 0)
                                    {
                                        <th class="no-sort"></th>
                                        <th class="no-sort"></th>
                                        <th class="no-sort"></th>
                                        <th class="no-sort"></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in tarefas)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Nome</td>
                                        <td>@item.Projeto.Nome</td>
                                        <td>@item.DataInclusao.ToString("dd/MM/yyyy")</td>
                                        @if (tarefas.Count() > 0)
                                        {
                                            <td style="text-align: center">
                                                <a class="btn btn-outline btn-warning btn-xs" role="button" href="/tarefa/alterar/@item.Id">Alterar</a>
                                            </td>
                                            <td style="text-align: center">
                                                <a class="btn btn-outline btn-danger btn-xs" role="button" href="/tarefa/remover/@item.Id">Remover</a>
                                            </td>
                                            <td style="text-align: center">
                                                <a class="btn btn-outline btn-info btn-xs" role="button" href="/recursoTarefa/listar/@item.Id">+ Recurso</a>
                                            </td>
                                            <td style="text-align: center">
                                                <a class="btn btn-outline btn-success btn-xs" role="button" href="/impedimentoTarefa/listar/@item.Id">+ Impedimento</a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><DisplayName For="@(() => tarefa.Id)" /></th>
                                    <th><DisplayName For="@(() => tarefa.Nome)" /></th>
                                    <th><DisplayName For="@(() => tarefa.Projeto)" /></th>
                                    <th><DisplayName For="@(() => tarefa.DataInclusao)" /></th>
                                    @if (tarefas.Count() > 0)
                                    {
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                        <th></th>
                                    }
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    private TarefaViewModel tarefa;
    private IEnumerable<TarefaViewModel> tarefas;

    protected override async Task OnInitializedAsync()
    {
        tarefas = await cpnucleoApiService.GetAsync<IEnumerable<TarefaViewModel>>("tarefa", "");

        await JS.InvokeVoidAsync("dataTables", "Relação de Tarefas");
    }
}