@page "/tarefa/remover/{id:guid}"
@inject ICpnucleoApiClient cpnucleoApiClient;
@inject NavigationManager navigationManager

<PageTitle>CPN - Remoção de Tarefa</PageTitle>

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Remoção de Tarefa</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            <EditForm class="form-horizontal" Model="@model" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />

                @if (model.Id == Guid.Empty)
                {
                    <p><em>Carregando...</em></p>
                }
                else
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.Id)" /></label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@model.Id</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.Nome)" /></label>
                        <div class="col-sm-10">
                            <input type="hidden" @bind="model.Nome">
                            <p class="form-control-static">@model.Nome</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.Projeto.Sistema)" /></label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@model.Projeto.Sistema.Nome</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.IdProjeto)" /></label>
                        <div class="col-sm-10">
                            <input type="hidden" @bind="model.IdProjeto">
                            <p class="form-control-static">@model.Projeto.Nome</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.DataInicio)" /></label>
                        <div class="col-sm-10">
                            <input type="hidden" @bind="model.DataInicio">
                            <p class="form-control-static">@model.DataInicio.ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.DataTermino)" /></label>
                        <div class="col-sm-10">
                            <input type="hidden" @bind="model.DataTermino">
                            <p class="form-control-static">@model.DataTermino.ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.QtdHoras)" /><br><small class="text-navy">Horas</small></label>
                        <div class="col-sm-10">
                            <input type="hidden" @bind="model.QtdHoras">
                            <p class="form-control-static">@model.QtdHoras</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.Detalhe)" /></label>
                        <div class="col-sm-10">
                            <input type="hidden" @bind="model.Detalhe">
                            <p class="form-control-static">@model.Detalhe</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.IdTipoTarefa)" /></label>
                        <div class="col-sm-10">
                            <input type="hidden" @bind="model.IdTipoTarefa">
                            <p class="form-control-static">@model.TipoTarefa.Nome</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.IdWorkflow)" /></label>
                        <div class="col-sm-10">
                            <input type="hidden" @bind="model.IdWorkflow">
                            <p class="form-control-static">@model.Workflow.Nome</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.IdRecurso)" /><br><small class="text-navy">Criador da Tarefa</small></label>
                        <div class="col-sm-10">
                            <input type="hidden" @bind="model.IdRecurso">
                            <p class="form-control-static">@model.Recurso.Nome</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.DataInclusao)" /></label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@model.DataInclusao.ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a class="btn btn-white" role="button" href="/tarefa/listar">Voltar</a>
                            <button class="btn btn-primary" type="submit">Remover</button>
                        </div>
                    </div>
                }

            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private TarefaDTO model = new TarefaDTO();

    protected override async Task OnInitializedAsync()
    {
        model = await cpnucleoApiClient.GetAsync<TarefaDTO>("tarefa", "", Id);
    }

    private async Task HandleValidSubmit()
    {
        await cpnucleoApiClient.DeleteAsync("tarefa", "", Id);

        navigationManager.NavigateTo("/tarefa/listar");
    }
}