@page "{idApontamento:Guid}"

@model Apontamento.RemoverModel
@{
    ViewData["Title"] = "Remoção de Apontamento";
}

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>@ViewData["Title"]</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">
            <form method="post" class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Apontamento.Id"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Apontamento.Id">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Apontamento.Id)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Apontamento.Descricao"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Apontamento.Descricao">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Apontamento.Descricao)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Apontamento.IdTarefa"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Apontamento.IdTarefa">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Apontamento.Tarefa.Nome)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Apontamento.DataApontamento"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Apontamento.DataApontamento">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Apontamento.DataApontamento)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.Apontamento.QtdHoras)<br><small class="text-navy">Horas</small></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Apontamento.QtdHoras">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Apontamento.QtdHoras)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Html.DisplayNameFor(x => x.Apontamento.PercentualConcluido)<br><small class="text-navy">Percentual de conclusão</small></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Apontamento.PercentualConcluido">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Apontamento.PercentualConcluido)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" asp-for="Apontamento.DataInclusao"></label>
                    <div class="col-sm-10">
                        <input type="hidden" asp-for="Apontamento.DataInclusao">
                        <p class="form-control-static">@Html.DisplayFor(x => x.Apontamento.DataInclusao)</p>
                    </div>
                </div>
                <div class="hr-line-dashed"></div>
                <div class="form-group">
                    <div class="col-sm-4 col-sm-offset-2">
                        <a class="btn btn-white" role="button" asp-page="Listar">Voltar</a>
                        <button class="btn btn-primary" type="submit">Remover</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>