@page "/recursoTarefa/listar/{idTarefa:guid}"
@inject IJSRuntime JS;
@inject ICpnucleoApiClient cpnucleoApiClient;

<PageTitle>CPN - Relação de Recursos (Tarefa)</PageTitle>

<div class="row">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>Relação de Recursos (Tarefa)</h5>
                <div class="ibox-tools">
                    <a class="fullscreen-link">
                        <i class="fa fa-expand"></i>
                    </a>
                </div>
            </div>
            <div class="ibox-content">
                <a class="btn btn-white btn-sm" role="button" href="/tarefa/listar">Voltar</a>
                <a class="btn btn-primary btn-sm" role="button" href="/recursoTarefa/incluir/@IdTarefa">+ Recurso</a>
                <br /><br />

                @if (recursoTarefas == null)
                {
                    <p><em>Carregando...</em></p>
                }
                else
                {
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover table-datatable">
                            <thead>
                                <tr>
                                    <th><DisplayName For="@(() => recursoTarefa.Id)" /></th>
                                    <th><DisplayName For="@(() => recursoTarefa.Tarefa)" /></th>
                                    <th><DisplayName For="@(() => recursoTarefa.Recurso)" /></th>
                                    <th><DisplayName For="@(() => recursoTarefa.DataInclusao)" /></th>
                                    @if (recursoTarefas.Count() > 0)
                                    {
                                        <th class="no-sort"></th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in recursoTarefas)
                                {
                                    <tr>
                                        <td>@item.Id</td>
                                        <td>@item.Tarefa.Nome</td>
                                        <td>@item.Recurso.Nome</td>
                                        <td>@item.DataInclusao.ToString("dd/MM/yyyy")</td>
                                        @if (recursoTarefas.Count() > 0)
                                        {
                                            <td style="text-align: center">
                                                <a class="btn btn-outline btn-danger btn-xs" role="button" href="/recursoTarefa/remover/@item.Id">Remover</a>
                                            </td>
                                        }
                                    </tr>
                                }
                            </tbody>
                            <tfoot>
                                <tr>
                                    <th><DisplayName For="@(() => recursoTarefa.Id)" /></th>
                                    <th><DisplayName For="@(() => recursoTarefa.Tarefa)" /></th>
                                    <th><DisplayName For="@(() => recursoTarefa.Recurso)" /></th>
                                    <th><DisplayName For="@(() => recursoTarefa.DataInclusao)" /></th>
                                    @if (recursoTarefas.Count() > 0)
                                    {
                                        <th></th>
                                    }
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid IdTarefa { get; set; }

    private RecursoTarefaDTO recursoTarefa;
    private IEnumerable<RecursoTarefaDTO> recursoTarefas;

    protected override async Task OnInitializedAsync()
    {
        recursoTarefas = await cpnucleoApiClient.GetAsync<IEnumerable<RecursoTarefaDTO>>("recursoTarefa", "getByTarefa", "", IdTarefa);

        await JS.InvokeVoidAsync("dataTables", "Relação de Recursos (Tarefa)");
    }
}