@page "/workflow/remover/{id:guid}"
@inject ICpnucleoApiClient cpnucleoApiClient;
@inject NavigationManager navigationManager;

<PageTitle>CPN - Remoção de Workflow</PageTitle>

<div class="col-lg-12">
    <div class="ibox float-e-margins">
        <div class="ibox-title">
            <h5>Remoção de Workflow</h5>
            <div class="ibox-tools">
                <a class="fullscreen-link">
                    <i class="fa fa-expand"></i>
                </a>
            </div>
        </div>
        <div class="ibox-content">

            <EditForm class="form-horizontal" Model="@model" OnValidSubmit="@HandleValidSubmit">
                <DataAnnotationsValidator />

                @if (model.Id == Guid.Empty)
                {
                    <p><em>Carregando...</em></p>
                }
                else
                {
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.Id)" /></label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@model.Id</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.Nome)" /></label>
                        <div class="col-sm-10">
                            <input type="hidden" @bind="model.Nome">
                            <p class="form-control-static">@model.Nome</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.Ordem)" /><br><small class="text-navy">Ordem no Kanban</small></label>
                        <div class="col-sm-10">
                            <input type="hidden" @bind="model.Ordem">
                            <p class="form-control-static">@model.Ordem</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label"><DisplayName For="@(() => model.DataInclusao)" /></label>
                        <div class="col-sm-10">
                            <p class="form-control-static">@model.DataInclusao.ToShortDateString()</p>
                        </div>
                    </div>
                    <div class="hr-line-dashed"></div>
                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-2">
                            <a class="btn btn-white" role="button" href="/workflow/listar">Voltar</a>
                            <button class="btn btn-primary" type="submit">Remover</button>
                        </div>
                    </div>
                }

            </EditForm>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Guid Id { get; set; }

    private WorkflowDto model = new WorkflowDto();

    protected override async Task OnInitializedAsync()
    {
        model = await cpnucleoApiClient.GetAsync<WorkflowDto>("workflow", "", Id);
    }

    private async Task HandleValidSubmit()
    {
        await cpnucleoApiClient.DeleteAsync("workflow", "", Id);

        navigationManager.NavigateTo("/workflow/listar");
    }
}